* {
   box-sizing: border-box;
}

.bg-extra-dark {
   /* background-color: #17191b !important; */
   background-color: #1D2023 !important;
}

.Header .nav-link {
   padding: 0.5rem 5px ;
}

.manual-buttons button {
   margin: 8px;
   width: 95%;
   /* display: flex; */
   justify-content: center;
}

.signal-status {
   font-size: small;
}

.bridge-name {
   padding-top: 15px;
   font-weight: bold;
   text-align: center;
   text-transform: capitalize;
   font-size: larger;
}

button.signal-status {
   padding-left: 3px;
   padding-right: 3px;
}

div.tweight {
   margin: auto auto;
}

body {
   font-family: 'Poppins', sans-serif !important;
   /* background-color: black !important; */
}

div.carousel-inner {
   height: 76vh;
   background-color: rgb(39, 49, 46);
}

.company-txt {
   /* font-weight: 500 !important; */
}

.page-footer {
   background-color: rgba(150, 181, 182, 0.267);
}

/*-------------------------- Manual Gate Control --------------------------*/

.GateControls div.input-group {
   width: 50%;
   display: flex;
   text-align: center;
   margin: auto;
}